@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

/* font-family: 'Inter', sans-serif; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary:#F2EDD6;
    --colorButtom: #F15D51;
}

html{
    font-size: 62.5%;
}
body{
    background-color: var(--primary);
}
header{
   position: relative;
   padding: 2.6rem 1.6rem;

}

.header__logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

nav{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    width: 0;
    height: 100vh;
    transition: all 0.4s ease;
    overflow: hidden;

}
.nav__menu-icon{
    background-color: transparent;
    border: none;
    height: 1.8rem;
}

.nav__cloese-icon{
    position: absolute;
    background-color: transparent;
    border: none;
    right: 2rem;
    top: 2.5rem;
}

.nav__menu-list ul{
    list-style: none;
    margin-top: 15rem;
    margin-left: 2rem;
}

.nav__menu-list ul li{
    margin-bottom: 3.5rem;
}

.nav__menu-list ul li a{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: black;
}

nav.active{
    width: 70vw;
}

/* ----------------------- */

main{
    width: 80%;
    margin: auto;
    
}
.section__image-text{
    
}
.section__image img{
    max-width: 40rem;
    width: 100%;
    
}
.section__text{
    margin-top: 3rem;
    max-width: 40rem;
    width: 100%;
}
.section__text h2{
    font-size: 3.8rem;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

.section__text p{
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 2.8rem;
    margin-top: 1.4rem;
}

.section__btn-read button{
    width: 18rem;
    height: 5rem;
    color: #fff;
    border: none;
    text-transform: uppercase;
    background-color: var(--colorButtom);
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    letter-spacing: 0.5rem;
    margin-top: 3rem;

}